#header1{
	background-color:black;

}
#header2{

	
}
.header3{
	width:300px;
}
#header4{
	font-size: 4em;
	color: white;
}
#header5{
	text-align: center;
	color: white;
}
.header6{
	margin-top: 10px;
}
.header7{
	padding: auto auto;
	font-size: 4.9em;
	margin-top: 25px;
}
#header8{
	color: white;
}
#header21{
	background-color: black;
}
#header22{
	font-size: 4.2em;
	color: white;
	text-align: center;
}
.header23{
	margin-top: 25px;
}
#head{
	color: white;
}