body{
	background-color: #eee;
}
#login{
	width: 500px;
	background-color: #fff;
	margin: 10px auto;
	border: 1px solid #333;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
}
#login img{
	width: 100%;
	margin: 5px 0;
}
#login .botonera{
	text-align: left;
}
